language: python
before_install:
  - ./ci/setup-server.sh
script:
  - py.test
env:
  - CCNET_CONF_DIR=/tmp/ccnet SEAFILE_CONF_DIR=/tmp/seafile-data
install:
  - pip install -r requirements.txt
notifications:
  email:
    recipients:
      - linshuai2012@gmail.com